@import url("https://fonts.googleapis.com/css?family=VT323|Vollkorn:400,900");
h1,
.h1 {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: normal; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000;
  transition: color 0.25s ease-out; }
  a:hover {
    color: #e0e0e0; }

#root {
  max-width: 100%;
  overflow: hidden;
  padding: 0; }

.RPS {
  display: block;
  padding: 1rem 2rem;
  width: 100vw;
  min-height: 100vh;
  background: #202520;
  color: #00ff21;
  text-align: center;
  font-family: "VT323", monospace;
  font-weight: 400; }
  .RPS-intro {
    font-size: 1.25rem; }

.MessageBoard {
  max-width: 25rem;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  background: #505550;
  font-size: 1.5rem;
  box-shadow: 1px 4px 8px rgba(20, 20, 20, 0.75); }

.ScoreBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto; }
  .ScoreBoard-player {
    width: 50%;
    padding: 1rem;
    text-align: center; }

.GameBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  border: 0.125rem solid #00ff21;
  background-color: #000; }

.Player {
  width: 50%;
  padding: 1rem;
  text-align: center; }
  .Player:last-of-type {
    border-left: 2px solid #00ff21; }
  .Player img {
    max-width: 80%;
    height: auto; }

.Buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50rem;
  margin: 0 auto; }
  .Buttons-wrapper {
    width: 50%;
    text-align: center; }
  .Buttons button {
    background: #505550;
    border-radius: 0;
    border: 2px solid #00ff21;
    color: #00ff21;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "VT323", monospace;
    font-weight: 400; }
