// $primary: #0f1626;
// $white: #f5f5f5;
// $gold: #ab987a;
// $accent: #ff533d;

// $blue: #345995;
// $red: #fb4d3d;
// $green: #03cea4;
// $yellow: #eac435;
// $white: #f5f5f5;

$black: #000;
$dark-gray: #202520;
$medium-gray: #505550;
$white: #e0e0e0;
$neon: #00ff21;
